doctype html 5
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title 关于我们 - 贵溪土鸡
        meta(name="keywords", content="关于贵溪土鸡,关于贵溪土鸡蛋")
        meta(name="description", content="我们来自江西省，鹰潭市，贵溪市，流口镇一个普普通通的农村。父母是地地道道的农民。在家养殖贵溪土鸡(www.guixitj.com)有需要的联系我们。")
        link(rel="canonical", href="#{domain.pc}/aboutUs")
        link(rel="alternate", media="only screen and(max-width: 640px)", href="#{domain.m}/aboutUs")
        meta(name="mobile-agent", content="format=html5;url=#{domain.m}/aboutUs")
        meta(name="applicable-device", content="pc")
        meta(http-equiv="Cache-Control", content="no-transform")
        meta(http-equiv="Cache-Control", content="no-siteapp")
        meta(name="renderer", content="webkit")
        link(rel="stylesheet", type="text/css", href="#{domain.static}/css/style.css?#{new Date().getTime()}")
        link(rel="shortcut icon", href="#{domain.static}/img/favicon.ico", type="image/x-icon")
    body.about-page
        include ../include/header.jade
        p.curr-positon.width-1100
            span 当前位置：
            a(href="#{domain.pc}/") 首页
            span  &gt;&nbsp;关于我们
        .about-us
            div.width-1100
                div.us-img
                    img(src="#{domain.static}/img/about.jpg", alt="关于我们")
                div.us-cont
                    div.column-title
                        span 我们的简介
                    span.cont &nbsp;&nbsp;&nbsp;&nbsp;大家好：我们来自江西省，鹰潭市，贵溪市，流口镇一个普普通通的农村。父母是地地道道的农民，为人实在。家在山区租了一块地常年散养土鸡，给在城里的亲戚、朋友以及想吃贵溪土鸡的人们提供纯正的土鸡。保证绿色，保证营养，保证健康。想吃的朋友们，过节送礼的朋友们，请联系我们。也欢迎附近的人们来我家做客，看看我们贵溪农村土鸡的生长环境。
        .width-1100.map-point
            p.map-tip 去购买贵溪土鸡要怎么走？下图红点标记的是贵溪农家土鸡的具体位置标注，您可以拖动， 双击放大缩小地图。
            //- #dituContent.ditu-content
            iframe#my-map(name="content", src="#{domain.static}/html/map.html" frameborder='0', scrolling='no', width='100%')
        .life-show.width-1100
            ul
                li
                    a(href="", target="_blank")
                        img(src="#{domain.static}/img/life/1.jpg", alt="")
                    span
                        a(href="", target="_blank") 生活的点点滴滴
                li
                    a(href="", target="_blank")
                        img(src="#{domain.static}/img/life/2.jpg", alt="")
                    span
                        a(href="", title="") 生活的点点滴滴
                li
                    a(href="", target="_blank")
                        img(src="#{domain.static}/img/life/2.jpg", alt="")
                    span
                        a(href="", target="_blank") 生活的点点滴滴
                li
                    a(href="", target="_blank")
                        img(src="#{domain.static}/img/life/1.jpg", alt="")
                    span
                        a(href="", target="_blank") 生活的点点滴滴
                li
                    a(href="", target="_blank")
                        img(src="#{domain.static}/img/life/2.jpg", alt="")
                    span
                        a(href="", target="_blank") 生活的点点滴滴
        include ../include/footer.jade