doctype html 5
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title 贵溪土鸡 - 土鸡
        meta(name="keywords", content="贵溪土鸡,流口土鸡,鹰潭土鸡,农家土鸡,贵溪散养土鸡,贵溪土鸡蛋")
        meta(name="description", content="鹰潭贵溪土鸡(www.guixitj.com)长年出售农村散养土鸡，保证土生土长无饲料，肉质正宗。")
        link(rel="canonical", href="#{domain.pc}/")
        link(rel="alternate", media="only screen and(max-width: 640px)", href="#{domain.m}/")
        meta(name="mobile-agent", content="format=html5;url=#{domain.m}/")
        meta(name="applicable-device", content="pc")
        meta(http-equiv="Cache-Control", content="no-transform")
        meta(http-equiv="Cache-Control", content="no-siteapp")
        meta(name="renderer", content="webkit")
        link(rel="stylesheet", type="text/css", href="#{domain.static}/css/style.css?#{new Date().getTime()}")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    body
        include ../include/header.jade
        .banner-info.width-1100
            .banner.lf
                img(src="#{domain.static}/img/banner.jpg", alt="贵溪农家生态土鸡")
            .info.lf
                b 产品基础信息
                p 品名：农村散养土鸡
                p 产地：贵溪
                p 保证：如不是农村散养土鸡，本平台承若无条件退款，并且不再收回已卖出的土鸡
                p 规格：4-7斤/只
                p 物流：直送
                p 品质：散养数量不多，肉质绝对正宗
                p 送货限制：只限贵溪市，以及市附近区域
                
                .buy-price
                    p.lf
                        span 价格
                        span.price 
                            i ¥
                            b 29-35/斤
                        br
                        span.miaosu 价格会根据时间或季节稍微的浮动，以实际购买价格为准
                    button#go-buy.rf 立即购买
        .notice.width-1100
            marquee(direction="left", onmouseout="this.start();", onmouseover="this.stop();", scrolldelay="100")
                | 为保证质量，我们养殖的土鸡数量并都不多，想要订购的朋友，抓紧时间提早下单
        .trade-news.width-1100
            .lf
                div.column-title
                    span 最近成交记录
                    a(href="#{domain.pc}/trade/") 更多&gt;
                ul
                    each item in trade
                        li
                            .diagram
                                a(href="#{domain.pc + '/detail/' + item.id}" target="_blank")
                                    img(src="#{domain.static + '/img/' + item.type + item.logo}", alt="#{item.title}")
                            .cont
                                p 
                                    a(href="#{domain.pc + '/detail/' + item.id}", target="_blank") #{item.title}
                                p.biaoshi 出售：#{item.amount}&nbsp;(只)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日期：#{item.create_time}
                                p.essay #{item.depict}
            .rf
                div.wrap
                    div.column-title
                        span 本站新闻
                        a(href="#{domain.pc}/news/") 更多&gt;
                    ul
                        each item, idx in news
                            li
                                i #{idx+1}
                                a(href="#{domain.pc + '/detail/' + item.id}", target="_blank") #{item.title}
                div.wrap.wrap-t
                    div.column-title
                        span 常见问题
                        a(href="#{domain.pc}/questions/") 更多&gt;
                    div.question
                        p.qt
                            i 问：
                            span 怎么确保卖的是土鸡呢？
                        p.an
                            i 答：
                            span 我们是农村的小小农民，规模并不大，养鸡只是为了补贴家用。如果你来到我们家，附近乡里乡亲的稍微打听下就知道。买过我们家的鸡都说好。
                        p.qt
                            i 问：
                            span 提供送货上们服务吗？
                        p.an.last-an
                            i 答：
                            span 在本市内都可以送过来的，当然路太远的话按N只起送（具体依照路程而定）。小本生意大家互相体谅。
        .about-us
            div.width-1100
                div.us-img
                    img(src="#{domain.static}/img/about.jpg", alt="关于我们")
                div.us-cont
                    div.column-title
                        span 关于我们
                        a(href="#{domain.pc}/aboutus/") 更多
                    span.cont
                        | &nbsp;&nbsp;&nbsp;&nbsp;我们来自于江西省-鹰潭市-贵溪市-流口镇-官庄村（联系电话：
                        font(color="#ad0000") 13687011233
                        | ）。这里人口少，大部分是田野和山区。而我家在山里面租凭了一块地常年散养着地道的“贵溪土鸡”，附近存、亲戚、朋友吃过的都纷纷夸赞，笑称我们的土鸡是“贵溪走地鸡”。也是因为相比市场上饲养的鸡肉，我们的贵溪土鸡肉更加结实，肉质结构和营养比例更加合理，土鸡肉中含有丰富的蛋白质，微量元素和各种营养素，脂肪的含量比较低，对于我们人体的保健具有重要的价值，是我们中国人比较喜欢的肉类制品，属于高蛋白的肉类，是真正的绿色无污染的肉类食物。
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;附近乡里乡亲的也会经常来我家，特别是办酒席，或者给小孩补充营养等...!一定会选择我们家的
                        a(href="#{domain.pc}/aboutus/") “贵溪走地鸡”。
                        | 我们期待和欢迎城区的朋友，在城市高压生活之余，带上亲朋好友，来我们家感受乡野乐趣，体验土滋土味的惬意。
        .life-show.width-1100
            div.column-title
                span 农家生活
                a(href="#{domain.pc}/life/") 更多&gt;
            ul
                each item in life
                    li
                        a(href="#{domain.pc + '/detail/' + item.id}", target="_blank")
                            img(src="#{domain.static + '/img/' + item.type + item.logo}", alt="#{item.title}")
                        span
                            a(href="#{domain.pc + '/detail/' + item.id}", target="_blank") #{item.title}
        .fried-link.width-1100
            h6 友情链接
            ul
                li
                    a(href="http://baidu.com", target="_blank") 百度一下
                //- li
                //-     a(href="", target="_blank") 鹰潭小鸡孵化
                //- li
                //-     a(href="", target="_blank") 贵溪土鸡回收
                //- li
                //-     a(href="", target="_blank") 土鸡蛋批发
        include ../include/footer.jade
        .confirm-modul
            p
                span 手机号：
                b 13687011233
            p
                span 微信号：
                b p15170108698
            .qr-img
                img(src="#{domain.static}/img/qr.png", alt="")
            span.tip 老爸经常在田地里干活，如果电话没人接请联系微信
            i.close-md 关闭
        script.
            var closeMd = document.querySelector('.close-md');
            var cModul = document.querySelector('.confirm-modul');
            document.getElementById('go-buy').addEventListener('click', function(e) {
                cModul.style.display = 'block'
            })
            closeMd.addEventListener('click', function(e) {
                cModul.style.display = 'none';
            })