doctype html 5
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title 最近出售 - 贵溪土鸡
        meta(name="keywords", content="出售贵溪土鸡,出售贵溪土鸡蛋")
        meta(name="description", content="出售正宗农村散养土鸡，贵溪土鸡蛋保证品质，保证营养，保证绿色欢迎前来购买。")
        link(rel="canonical", href="#{domain.pc}/trade")
        //- link(rel="alternate", media="only screen and(max-width: 640px)", href="#{domain.m}/trade")
        //- meta(name="mobile-agent", content="format=html5;url=#{domain.m}/trade")
        meta(name="applicable-device", content="pc")
        meta(http-equiv="Cache-Control", content="no-transform")
        meta(http-equiv="Cache-Control", content="no-siteapp")
        meta(name="renderer", content="webkit")
        link(rel="stylesheet", type="text/css", href="#{domain.static}/css/style.css?#{new Date().getTime()}")
        link(rel="shortcut icon", href="#{domain.static}/img/favicon.ico", type="image/x-icon")
    body
        include ../include/header.jade
        p.curr-positon.width-1100
            span 当前位置：
            a(href="#{domain.pc}/") 首页
            span  &gt;&nbsp;最近出售
        div.trade-cont.width-1100
            div.cont-lf
                div.column-title
                    span 本站新闻
                    a(href="") 更多&gt;
                ul
                    li
                        i 1
                        a(href="", target="_blank") 贵溪土鸡苗孵化中
                    li
                        i 2
                        a(href="", target="_blank") 农村土鸡的怎么做比较好吃
                    li
                        i 3
                        a(href="", target="_blank") 农村土方法怎么辨别散养鸡村土方法怎么么
                    li
                        i 4
                        a(href="", target="_blank") 贵溪土鸡苗孵化中
                    li
                        i 5
                        a(href="", target="_blank") 农村土鸡的怎么做比较好吃
                    li
                        i 6
                        a(href="", target="_blank") 农村土方法怎么辨别散养鸡
                    li
                        i 7
                        a(href="", target="_blank") 农村土方法怎么辨别散养鸡
                    li
                        i 8
                        a(href="", target="_blank") 农村土方法怎么辨别散养鸡
            div.cont-rf
                p.trade-title 历史出售列表
                ul
                    li
                        .diagram
                            a(href="" target="_blank")
                                img(src="#{domain.static}/img/life/1.jpg", alt="")
                        .cont
                            p 
                                a(href="", target="_blank") 远赴80公里购买土鸡
                            p.biaoshi 出售：10(只)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日期：2019-09-02
                            p.essay 隔壁县城老李，听说朋友介绍咱家土鸡肉纯散养肉质鲜美。竟远赴80公里，开车来购买土鸡为娘亲庆80大寿
                    li
                        .diagram
                            a(href="" target="_blank")
                                img(src="#{domain.static}/img/life/1.jpg", alt="")
                        .cont
                            p 
                                a(href="", target="_blank") 远赴80公里购买土鸡
                            p.biaoshi 出售：10（只）&nbsp;&nbsp;日期：2019-09-02
                            p.essay 隔壁县城老李，听说朋友介绍咱家土鸡肉纯散养肉质鲜美。竟远赴80公里，开车来购买土鸡为娘亲庆80大寿
                    li
                        .diagram
                            a(href="" target="_blank")
                                img(src="#{domain.static}/img/life/1.jpg", alt="")
                        .cont
                            p 
                                a(href="", target="_blank") 远赴80公里购买土鸡
                            p.biaoshi 出售：10（只）&nbsp;&nbsp;日期：2019-09-02
                            p.essay 隔壁县城老李，听说朋友介绍咱家土鸡肉纯散养肉质鲜美。竟远赴80公里，开车来购买土鸡为娘亲庆80大寿
                    li
                        .diagram
                            a(href="" target="_blank")
                                img(src="#{domain.static}/img/life/1.jpg", alt="")
                        .cont
                            p 
                                a(href="", target="_blank") 远赴80公里购买土鸡
                            p.biaoshi 出售：10（只）&nbsp;&nbsp;日期：2019-09-02
                            p.essay 隔壁县城老李，听说朋友介绍咱家土鸡肉纯散养肉质鲜美。竟远赴80公里，开车来购买土鸡为娘亲庆80大寿
                    li
                        .diagram
                            a(href="" target="_blank")
                                img(src="#{domain.static}/img/life/1.jpg", alt="")
                        .cont
                            p 
                                a(href="", target="_blank") 远赴80公里购买土鸡
                            p.biaoshi 出售：10（只）&nbsp;&nbsp;日期：2019-09-02
                            p.essay 隔壁县城老李，听说朋友介绍咱家土鸡肉纯散养肉质鲜美。竟远赴80公里，开车来购买土鸡为娘亲庆80大寿
        include ../include/footer.jade